#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color: black;
  background-color: white;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100vw;
  height: 100vh;

}

.post-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: solid 0.1em;
  border-top: 0;
  border-right: 0;

}

.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 0.1em;
  border-left: 0;
  border-bottom: 0;
  min-height: 15em;
  min-width: 10em;
  flex: 1 0 calc(33.333% - 20px); 

}

.post-type {
  align-self: flex-end;
  margin: 1em;
  padding: 0.5em;
  border: solid 0.1em;
  border-radius: 5px;
}


.post-img {
  max-width: 100%;
  /* Fill the width of the container */
  height: 50%;
  /* Maintain aspect ratio */
  object-fit: contain;
  /* Crop to fit if needed */
 
  max-height: 200px;
  /* Optional: limit height */
  display: block;
  /* Remove any extra bottom space */

}


.read-more {
  align-self: flex-start;
  margin: 1em;
  padding: 0.5em;
  text-decoration: underline;
}