#root {
  height: 100vh;
  width: 60vw;
  margin: 0 auto;
  padding: 5rem;
  text-align: center;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color: black;
  background-color: white;
}


body {
  margin-top: 0;
  display: flex;
  place-items: center;
  width: 100vw;
  height: 100vh;

}

#title{
  font-size: 2em;
}

.post-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: solid 0.1em;
  border-top: 0;
  border-right: 0;

}

.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 0.1em;
  border-left: 0;
  border-bottom: 0;
  min-height: 15em;
  min-width: 10em;
  flex: 1 0 calc(33.333% - 20px); 

}

.post-type {
  align-self: flex-end;
  margin: 1em;
  padding: 0.5em;
  border: solid 0.1em;
  border-radius: 5px;
}


.post-img {
  max-width: 100%;
  max-height: 50%;
  object-fit: contain;
  max-height: 200px;
  display: block;

}


.read-more {
  align-self: flex-start;
  margin: 1em;
  padding: 0.5em;
  text-decoration: underline;
  color: black;
}

.read-more:hover{
  background-color: rgba(165, 42, 42, 0.331);
 
}

@media (max-width: 750px) {
  .post-container {
    flex: 1 0 calc(50% - 20px);
  }
}